.App {
  text-align: center;
  background-color: #3246b6;
  color: white;
  height: 100vh;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 0;
  padding: 100px 0 50px 0;
}
